.border {
  border: 1px solid @border-footer;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}

.border-block {
  width: 50px;
  display: inline-block;
}

footer {
  background: #292929;
  color: #fff;
  width: 100%;
  height: 200px;
}

.footer--title {
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-row {
  margin-top: 55px;

}

.footer--block-left--link {
  color: inherit;
  text-decoration: none;
}

.footer--block-left--link:hover {
  color: inherit;
  text-decoration: none;
}

.footer--block-center {
  text-align: center;
}

.footer--social-link:focus {
  opacity: 0.4;
}

.footer--html-link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.footer--html-link:hover {
  color: inherit;
  text-decoration: none;
}

.footer--block-right {
  text-align: center;
}

.border-block {
  margin: 0 5px 0 5px;
}

@media only screen and (max-width: 1200px) {
  footer {
    height: 100%;
  }

  .footer--block-right {
    float: right;
    margin-top: -235px;
  }

  .border-social {
    width: 215px;
    height: 100px;
    padding-top: 35px;
  }

  .footer--social-link > img {
    width: 25px;
  }

  .fa > img {
    width: 15px!important;
  }
}

