.border {
  border: 1px solid @border-footer;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}

.border-block {
  width: 50px;
  display: inline-block;
}

footer {
  background: #292929;
  color: #fff;
  width: 100%;
  height: 200px;
}

.footer--title {
  font-weight: 600;
  margin-bottom: 25px;
}

.footer-row {
  margin-top: 55px;

}

.title-footer--tel-link--link {
  color: inherit;
  text-decoration: none;
}

.title-footer--tel-link--link:hover {
  color: inherit;
  text-decoration: none;
}

.footer--block-center {
  text-align: center;
}

.footer--social-link:focus {
  opacity: 0.4;
}

.footer--html-link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.footer--html-link:hover {
  color: inherit;
  text-decoration: none;
}

.footer--block-right {
  text-align: center;

  .border {
    background: #292929;
    padding-top: 0px;
  }
}

.border-block {
  margin: 0 5px 0 5px;
}

@media only screen and (max-width: 1199px) {
  footer {
    height: 400px;
  }

  .footer--block-center {
    margin-top: 55px;
  }

  .footer--block-right {
    float: right;
    margin-top: -260px;
  }

  .border-social {
    width: 215px;
    height: 100px;
    padding-top: 35px !important;
  }

  .footer--social-link > img {
    transform: scale(1.5);
  }

  .bro {
    display: none;
  }
}

@media only screen and (max-width: 767px) {

  footer {
    height: 550px;
  }

  .footer--block-right {
    margin: 0;
    margin-top: 50px;

    .border {
      width: 100%;
    }
  }

  footer::before, footer::after {
    content: "";
    width: 50%;
  }

  footer::after {
    margin-top: -619px;
    float: right;
    border: 108px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 750px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-bottom: 100px solid @mobile-background-footer;
    border-right: 375px solid @mobile-background-footer;
  }

  footer::before {
    left: 0;
    float: left;
    margin-top: -100px;
    border: 100px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 750px;
    border-bottom: 100px solid @mobile-background-footer;
    border-left: 375px solid @mobile-background-footer;
  }

  .title-footer {
    text-align: center;

    &--tel-link {
      margin: 0 20px 0 20px;
      border: 2px solid @border-footer;
      display: block;
      height: 50px;
      padding: 12px 0 0 0;
    }
  }

  .border {
    border: 2px solid @border-footer;
    margin-left: -11px;
    padding: 0;
    width: 150px;
  }
}

@media only screen and (max-width: 500px) {
  footer {
    &::after {
      margin-top: -619px;
      float: right;
      border: 108px solid transparent;
      border-right-color: transparent;
      border-right-style: solid;
      border-right-width: 750px;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 750px;
      border-bottom: 100px solid #292929;
      border-right: 250px solid #292929;
    }

    &::before {
      left: 0;
      float: left;
      margin-top: -100px;
      border: 100px solid transparent;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 750px;
      border-left-color: transparent;
      border-left-style: solid;
      border-left-width: 750px;
      border-bottom: 100px solid #292929;
      border-left: 250px solid #292929;
    }
  }

  .white-bottom--carousell--content--img img {
    width: 100px;
    height: 100px;
    margin: 28px;
    margin-right: 0;
  }
}


@media only screen and (max-width: 487px) {
  .border {
    width: 120px;
  }
}


