.mobile-logo {
  display: none;
}

.nav-menu__right {
  float: right !important;
}

.nav-menu {
  width: 100%;
}

.navbar {
  background: #000000;
}

.navbar-nav > li {
  width: 15%;
  text-align: center;
}

.navbar-nav > li > a:hover {
  color: #826550;
  background: #fff;
}
.navbar-nav > li > a:focus {

  color: #4d4d4d;
  background: #fff;
}


.navbar-nav > li > a {
  color: #fff;
    font-size: 16px;
    font-weight: 700;
  }

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  z-index: 999;
  border: 0;
}

.login-png {
  margin-right: 20px;
}

.active {
  border-bottom: 3px solid #826550;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hide-head-block {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .login-link {
    display: none;
  }

  .navbar-nav > li > a {
    font-size: 15px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 991px) {

  .navbar-nav > li > a {
    font-size: 12px;
    font-weight: 700;
  }

  .icon-bar {
    background: #fff;
  }
}

@media only screen and (max-width: 767px) {

  .hide-mobile {
    display: none!important;
  }

  .mobile-logo {
    display: block;
    background: @mobile-background-header;
    height: 85px;
    text-align: center;
    padding-top: 25px;
  }

  .active {
    border: none;
    margin: 0;
  }

  .nav-button {
    position: absolute;
    background: @nav-button;
    width: 70px;
    height: 54px;
    border-radius: 0;
    margin: 0;
    padding: 9px 15px;
    right: 0px;
    top: 0px;

    .icon-bar {
      width: 35px;
      border-radius: 1px;
    }
  }

  .navbar-header {
    background: @navbar-header;
    margin: 0 !important;
    margin-top: -1px !important;
    border-bottom: 1px solid @border-b-nav-adaptation;
    padding: 0px !important;

  }

  .hide-menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -1px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .head {
    padding: 0 !important;
  }

  .hide-head-block {
    display: block;

    .hide {
      display: none;
    }

    .not-hide {
      width: 100%;
      border: 0;
      padding: 17px 0 17px 0;
      text-align: center;
      list-style: none;
      color: #fff;
    }
  }

  .navbar-nav {
    background: @navbar-header;
    margin: 0;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;

    li {
      width: 100%;
      border-bottom: 1px solid @border-b-nav-adaptation;
      border-top: 1px solid @border-t-nav-adaptation;
    }
  }

  .login-link {
    display: inline;
  }

  .nav-menu__right {
    background: @nav-button;
  }
}