.nav-menu__right {
  float: right !important;
}

.nav-menu {
  width: 100%;
}

.navbar {
  background: #000000;
}

.navbar-nav > li {
  width: 15%;
  text-align: center;
}

.navbar-nav > li > a:hover {
  color: #826550;
  background: #fff;
}

.navbar-nav > li > a:focus {
  color: #4d4d4d;
  background: #fff;
}


.navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0;
  z-index: 999;
}

.login-png {
  margin-right: 20px;
}

.active {
  border-bottom: 3px solid #826550;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media only screen and (max-width: 1200px) {
  .login-link {
    display: none;
  }

  .navbar-nav > li > a {
    font-size: 15px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
  }
}