html {
  scroll-behavior: smooth;
}
.mobile-logo {
  display: none;
}
.nav-menu__right {
  float: right !important;
}
.nav-menu {
  width: 100%;
}
.navbar {
  background: #000000;
}
.navbar-nav > li {
  width: 15%;
  text-align: center;
}
.navbar-nav > li > a:hover {
  color: #826550;
  background: #fff;
}
.navbar-nav > li > a:focus {
  color: #4d4d4d;
  background: #fff;
}
.navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  z-index: 999;
  border: 0;
}
.login-png {
  margin-right: 20px;
}
.active {
  border-bottom: 3px solid #826550;
  margin-left: 18px;
  margin-right: 18px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.hide-head-block {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .login-link {
    display: none;
  }
  .navbar-nav > li > a {
    font-size: 15px;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-nav > li > a {
    font-size: 12px;
    font-weight: 700;
  }
  .icon-bar {
    background: #fff;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none!important;
  }
  .mobile-logo {
    display: block;
    background: #242424;
    height: 85px;
    text-align: center;
    padding-top: 25px;
  }
  .active {
    border: none;
    margin: 0;
  }
  .nav-button {
    position: absolute;
    background: #6a4d38;
    width: 70px;
    height: 54px;
    border-radius: 0;
    margin: 0;
    padding: 9px 15px;
    right: 0px;
    top: 0px;
  }
  .nav-button .icon-bar {
    width: 35px;
    border-radius: 1px;
  }
  .navbar-header {
    background: #826550;
    margin: 0 !important;
    margin-top: -1px !important;
    border-bottom: 1px solid #71543f;
    padding: 0px !important;
  }
  .hide-menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -1px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .head {
    padding: 0 !important;
  }
  .hide-head-block {
    display: block;
  }
  .hide-head-block .hide {
    display: none;
  }
  .hide-head-block .not-hide {
    width: 100%;
    border: 0;
    padding: 17px 0 17px 0;
    text-align: center;
    list-style: none;
    color: #fff;
  }
  .navbar-nav {
    background: #826550;
    margin: 0;
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .navbar-nav li {
    width: 100%;
    border-bottom: 1px solid #71543f;
    border-top: 1px solid #886e5b;
  }
  .login-link {
    display: inline;
  }
  .nav-menu__right {
    background: #6a4d38;
  }
}
.fon--image-img {
  display: inline-block;
  margin-top: 130px;
}
.fon--image::before {
  content: '';
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  border: 1300px solid transparent;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 750px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 750px;
  border-bottom: 160px solid #f8f5f2;
  border-left: 0px solid #f8f5f2;
}
.fon {
  width: 100%;
  height: 500px;
}
.fon--image {
  background-image: url(../img/back-desktop.png);
  position: absolute;
  width: 100%;
  text-align: center;
  height: 500px;
  background-size: cover;
}
.fon--image::after {
  content: '';
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  border: 1300px solid transparent;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 750px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 750px;
  border-bottom: 160px solid #f8f5f2;
  border-right: 0px solid #f8f5f2;
}
@media only screen and (max-width: 1316px) {
  .fon--image::after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    border: 975px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 750px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-bottom: 160px solid #f8f5f2;
    border-right: 0px solid #f8f5f2;
  }
  .fon--image::before {
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    border: 975px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 750px;
    border-bottom: 160px solid #f8f5f2;
    border-left: 0px solid #f8f5f2;
  }
}
@media only screen and (max-width: 991px) {
  .fon--image::before {
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;
    border: 600px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 750px;
    border-bottom: 100px solid #f8f5f2;
    border-left: 0px solid #f8f5f2;
  }
  .fon--image::after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    border: 600px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 750px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-bottom: 100px solid #f8f5f2;
    border-right: 0px solid #f8f5f2;
  }
}
@media only screen and (max-width: 767px) {
  .fon {
    display: none;
  }
}
.background-fon--image {
  background-image: url(../img/back-desktop.png);
  width: 100%;
  text-align: center;
  height: 650px;
  background-size: cover;
}
h1 {
  margin: 0;
}
.grey {
  background: #353535;
  padding-bottom: 175px;
}
.grey::before {
  content: '';
  position: absolute;
  width: 50%;
  bottom: -464px;
  left: 0;
  border: 1300px solid transparent;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 750px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 750px;
  border-bottom: 160px solid #f8f5f2;
  border-left: 0px solid #f8f5f2;
}
.grey::after {
  content: '';
  position: absolute;
  width: 50%;
  bottom: -464px;
  right: 0;
  border: 1300px solid transparent;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 750px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 750px;
  border-bottom: 160px solid #f8f5f2;
  border-right: 0px solid #f8f5f2;
}
.grey .absolute {
  position: absolute;
  top: 542px;
  z-index: 999;
  min-width: 1140px;
}
.grey-top {
  height: 250px;
}
.grey-top--left {
  background: #ffffff;
  height: 100%;
  padding: 40px;
}
.grey-top--left h1 {
  font-weight: 600;
  margin-bottom: 55px;
}
.grey-top--left p {
  margin-bottom: 40px;
}
.grey-top--left span {
  color: #b2b2b2;
}
.grey-top--center {
  height: 100%;
  padding: 0;
}
.grey-top--center span {
  color: #ffffff;
  font-size: 50px;
}
.grey-top--center p {
  color: #ffffff;
}
.grey-top--center--top {
  background: #404040;
}
.grey-top--center--bottom {
  background: #353535;
}
.grey-top--center--bottom,
.grey-top--center--top {
  height: 50%;
  padding: 35px 0 25px 40px;
}
.grey-top--right {
  height: 100%;
  padding: 0;
}
.grey-top--right span {
  color: #ffffff;
  font-size: 50px;
}
.grey-top--right p {
  color: #ffffff;
}
.grey-top--right--bottom,
.grey-top--right--top {
  height: 50%;
  padding: 35px 0 25px 40px;
}
.grey-top--right--bottom {
  background: #404040;
}
.grey-top--right--top {
  background: #4e4e4e;
}
.grey-center {
  color: #fff;
}
.grey-center .grey-center--center,
.grey-center .grey-center--left,
.grey-center .grey-center--right {
  text-align: center;
}
.grey-center .grey-center--center img,
.grey-center .grey-center--left img,
.grey-center .grey-center--right img {
  margin-bottom: 30px;
}
.grey-center .grey-center--center h1,
.grey-center .grey-center--left h1,
.grey-center .grey-center--right h1 {
  margin-bottom: 30px;
}
.white {
  background: #f8f5f2;
  padding-top: 30px;
}
.white .white-top {
  border-bottom: 1px solid #e5ddd5;
  padding-bottom: 25px;
  margin-bottom: 35px;
}
.white--title {
  height: 100px;
}
.white--title h1 {
  float: left;
  font-weight: 600;
  margin-left: 80px;
}
.white--title a {
  float: right;
  color: #000;
  font-weight: 600;
  margin-right: 70px;
}
.white--title--block p {
  font-size: 16px;
  line-height: 30px;
}
.white--title--block .banner {
  height: 89px;
  width: 50px;
  float: left;
  text-align: center;
  background: #000;
  font-size: 25px;
  color: #fff;
  margin-right: 15px;
  margin-top: 15px;
}
.white--title--block .banner span {
  font-size: 14px;
  margin-top: -6px;
  display: block;
}
.white--title--block .banner::after {
  content: '';
  position: absolute;
  width: 7%;
  border: 53px solid transparent;
  margin-top: -51px;
  margin-left: -28px;
  border-bottom: 43px solid #f8f5f2;
  border-right: 0 solid #f8f5f2;
}
.white--title--block .banner::before {
  content: '';
  position: absolute;
  width: 7%;
  border: 50px solid transparent;
  border-bottom: 39px solid #f8f5f2;
  border-left: 0 solid #f8f5f2;
  margin-left: -12px;
}
.white--title--border {
  width: 160px;
  height: 50px;
  border: 1px solid #e5ddd5;
  padding-top: 12px;
}
.white--title--border:hover {
  border: 1px solid #d5c9bd;
}
.white-bottom--carousell--content--img {
  float: left;
  margin-right: 30px;
  height: 160px;
}
.white-bottom--carousell--content--feedback {
  border: 1px solid #e5ddd5;
  height: 160px;
}
.white-bottom--carousell--left {
  height: 160px;
  width: 50px;
  border: 1px solid #e5ddd5;
  padding: 65px 15px 15px 18px;
  margin-right: 20px;
  cursor: pointer;
}
.white-bottom--carousell--right {
  height: 160px;
  width: 50px;
  border: 1px solid #e5ddd5;
  padding: 65px 15px 15px 18px;
  cursor: pointer;
}
.white-bottom--carousell--rhombus {
  margin-top: 30px;
  margin-bottom: 30px;
}
.white-bottom--carousell--rhombus--el {
  margin: 0 auto;
  width: 100px;
}
.white-bottom--carousell--rhombus--el div {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 10px;
  background-size: cover;
  background: url(../img/slider-indicator.png) no-repeat;
  display: inline-block;
}
.white-bottom--carousell .active-rhombus {
  width: 10px;
  height: 10px;
  background: url(../img/current-slider.png) no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1317px) {
  .grey::after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: -464px;
    right: 0;
    border: 1100px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 750px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-bottom: 160px solid #f8f5f2;
    border-right: 0 solid #f8f5f2;
  }
  .grey::before {
    content: '';
    position: absolute;
    width: 50%;
    bottom: -464px;
    left: 0;
    border: 1100px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 750px;
    border-bottom: 160px solid #f8f5f2;
    border-left: 0 solid #f8f5f2;
  }
}
@media only screen and (max-width: 1199px) {
  .absolute {
    left: 0px;
    margin: 0 50px;
    min-width: auto !important;
  }
  .grey-top--center--bottom,
  .grey-top--right--bottom {
    width: 50%;
    float: left;
  }
  .grey-top--center--top,
  .grey-top--right--top {
    width: 50%;
    float: left;
  }
  .grey-top {
    height: 500px;
  }
  .grey-top--left {
    padding-top: 100px;
  }
  .grey-top--left p {
    float: right;
    margin-bottom: 50px;
    margin-top: -50px;
    font-size: 18px;
    font-weight: 600;
    width: 270px;
    line-height: 32px;
    margin-right: 89px;
  }
  .grey-top--left span {
    float: left;
  }
  .grey-top--left h1 {
    float: left;
    width: 50%;
    font-size: 37px;
    margin-bottom: 35px;
    margin-top: -55px;
  }
  .grey::after {
    content: '';
    position: absolute;
    width: 50%;
    bottom: -1051px;
    right: 0;
    border: 900px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 750px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-bottom: 160px solid #f8f5f2;
    border-right: 0 solid #f8f5f2;
  }
  .grey::before {
    content: '';
    position: absolute;
    width: 50%;
    bottom: -1051px;
    left: 0;
    border: 900px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 750px;
    border-bottom: 160px solid #f8f5f2;
    border-left: 0 solid #f8f5f2;
  }
  .grey-center {
    height: 367px;
  }
  .grey-center--left,
  .grey-center--center,
  .grey-center--right {
    border-bottom: 1px solid #4a4a4a;
    float: left;
    width: 100%;
    height: 200px;
    z-index: 999;
  }
  .grey-center--left img,
  .grey-center--center img,
  .grey-center--right img {
    float: left;
    margin-top: 50px;
  }
  .grey-center--left h1,
  .grey-center--center h1,
  .grey-center--right h1 {
    display: block;
    margin-left: 90px;
    float: left;
    margin-top: 30px;
  }
  .grey-center--left p,
  .grey-center--center p,
  .grey-center--right p {
    display: inline-block;
    float: left;
    text-align: left;
    margin-left: 90px;
    font-size: 17px;
    width: 650px;
  }
  .grey-center--right {
    border-bottom: 0 !important;
  }
  .white-top--right {
    display: none;
  }
  .white-bottom--carousell--left {
    margin-right: 0;
  }
  .white-bottom--carousell--rhombus {
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .white-bottom--carousell--content {
    width: 88.333333%;
  }
}
.content-form {
  background: #f8f5f2;
}
.home-btn {
  width: 160px;
  height: 50px;
  border: 1px solid #e5ddd5;
  margin-top: 20px;
  padding-top: 12px;
  color: #000;
  font-weight: 700;
}
.home-btn:hover {
  border: 1px solid #d5c9bd;
  color: #000;
}
.home {
  text-align: center;
}
.w130 {
  height: 130px;
}
.input-div > input,
textarea {
  width: 100%;
  height: 70px;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #e5ddd5;
  padding-left: 25px;
  background: #fff !important;
}
.input-div > textarea {
  padding-top: 15px;
  max-width: 100%;
  min-width: 100%;
}
.input-div > input:hover {
  border: 1px solid #d5c9bd;
}
.input-div > input:focus {
  border: 1px solid #999999;
}
.input-div > textarea:hover {
  border: 1px solid #d5c9bd;
}
.input-div > textarea:focus {
  border: 1px solid #999999;
}
.row-input {
  margin-bottom: 35px;
}
.big-input {
  height: 210px !important;
}
.title-model {
  text-align: center;
}
.title-model--border {
  margin-bottom: 25px;
  margin-top: 25px;
}
.title-model--hr {
  margin-top: 35px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #e5ddd5;
}
.model-beard > h3 {
  font-weight: 700;
}
.checkbox-p {
  font-weight: 600;
  font-size: 17px;
  margin: 30px 0 30px 0;
}
.checkbox-div {
  text-align: center;
}
.checkbox-row {
  margin-bottom: 30px;
}
.checbox-model {
  margin: 20px 0 20px 0;
}
.checkbox-add {
  border: 1px solid #e5ddd5 !important;
}
.checkbox-row--div {
  margin-top: 25px;
}
.checkbox-row--div > label {
  font-size: 17px;
}
.btn-form {
  background: #826550;
  color: #fff;
  border-radius: 0;
  height: 70px;
  margin-top: 80px;
}
.btn-form:hover {
  background: #6a4d38;
  color: #fff;
}
.btn-form:focus {
  background: #6a4d38;
  color: #978374;
}
.btn-form:disabled {
  background: #aeaeae !important;
  color: #ffffff;
}
@media only screen and (max-width: 991px) {
  .home-btn {
    display: none;
  }
  .input-div {
    margin: 15px 0 15px 0;
  }
  .title-model--hr {
    display: none;
  }
  .checbox-model {
    height: 430px;
  }
  .checkbox-block {
    padding-left: 50px;
  }
  .checkbox-div {
    margin-top: 15px;
  }
  .checkbox-row--div > label {
    font-size: 16px;
  }
  .title-model--border {
    margin-top: 30px;
  }
  .row-input {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 767px) {
  .checkbox-block {
    padding-left: 27%;
  }
  .btn-form {
    margin: 0 35px;
    margin-top: 80px;
    width: 90%;
  }
  .form {
    margin-bottom: 150px;
  }
}
@media only screen and (max-width: 617px) {
  .checkbox-block {
    padding-left: 10%;
  }
}
.border {
  border: 1px solid #3d3d3d !important;
  height: 50px;
  text-align: center;
  padding-top: 12px;
}
.border-block {
  width: 50px;
  display: inline-block;
}
footer {
  background: #292929;
  color: #fff;
  width: 100%;
  height: 200px;
}
.footer--title {
  font-weight: 600;
  margin-bottom: 25px;
}
.footer-row {
  margin-top: 55px;
}
.title-footer--tel-link--link {
  color: inherit;
  text-decoration: none;
}
.title-footer--tel-link--link:hover {
  color: inherit;
  text-decoration: none;
}
.footer--block-center {
  text-align: center;
}
.footer--social-link:focus {
  opacity: 0.4;
}
.footer--html-link {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}
.footer--html-link:hover {
  color: inherit;
  text-decoration: none;
}
.footer--block-right {
  text-align: center;
}
.border-block {
  margin: 0 5px 0 5px;
}
@media only screen and (max-width: 1199px) {
  footer {
    height: 400px;
  }
  .footer--block-center {
    margin-top: 55px;
  }
  .footer--block-right {
    float: right;
    margin-top: -260px;
  }
  .border-social {
    width: 215px;
    height: 100px;
    padding-top: 35px !important;
  }
  .footer--social-link > img {
    transform: scale(1.5);
  }
  .bro {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  footer::before,
  footer::after {
    content: "";
    width: 50%;
  }
  footer::before {
    left: 0;
    float: left;
    margin-top: -495px;
    border: 395px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 750px;
    border-bottom: 100px solid #292929;
    border-left: 0px solid #292929;
  }
  footer::after {
    margin-top: -830px;
    float: right;
    border: 395px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 750px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-bottom: 100px solid #292929;
    border-right: 0px solid #292929;
  }
  .title-footer {
    text-align: center;
  }
  .title-footer--tel-link {
    margin: 0 20px 0 20px;
    border: 2px solid #3d3d3d !important;
    display: block;
    height: 50px;
    padding: 12px 0 0 0;
  }
  .border {
    border: 2px solid #3d3d3d !important;
    margin-left: -11px;
    padding: 0;
    width: 150px;
  }
}
@media only screen and (max-width: 470px) {
  footer::before {
    margin-top: -344px;
    border: 245px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 750px;
    border-bottom: 100px solid #292929;
    border-left: 0 solid #292929;
  }
  footer::after {
    margin-top: -679px;
    border: 245px solid transparent;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 750px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 750px;
    border-bottom: 100px solid #292929;
    border-right: 0 solid #292929;
  }
  footer {
    height: 450px;
  }
  .border {
    width: 120px;
  }
}
@media only screen and (max-width: 427px) {
}
/*# sourceMappingURL=style.css.map */